<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Favorite Players</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <header>
      <p>
        <ul class="nav nav-tabs">
          <li role="presentation"><a href="{% url 'index_view' %}">Home</a></li>
          <li role="presentation" class="active"><a href="{% url 'favorite_players' %}">My Favorite Players</a></li>
          <li role="presentation"><a href="{% url 'teams_view' %}">My Favorite Teams</a></li>
          <li role="presentation"><a href="{% url 'about_me' %}">About Me</a></li>
        </ul>

      </p>
      <h1>Soccer is Life</h1>
    </header>
    <h3>A Few of my Favorite Players</h3>
    <ul>
      {% for row in fav_players %}
        <li><a href="{% url 'player_view' row.id %}">{{ row.name }}</a></li><br>
      {% endfor %}
    </ul>
  </body>
</html>
