<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>team</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <header>
      <p>
        <ul class="nav nav-tabs">
          <li role="presentation"><a href="{% url 'index_view' %}">Home</a></li>
          <li role="presentation"><a href="{% url 'favorite_players' %}">My Favorite Players</a></li>
          <li role="presentation"><a href="{% url 'teams_view' %}">My Favorite Teams</a></li>
          <li role="presentation"><a href="{% url 'about_me' %}">About Me</a></li>
        </ul>

      </p>
      <h1>Soccer is Life</h1>
    </header>
    <h3>{{ team.name }}</h3>
    <img src="{{ team.crest }}" alt="crest" height="150"/>
    <p>
      Coach: {{ team.coach }}<br>
      League: {{ team.league }}<br>
      Titles: {{ team.titles }}<br>
      Team Link: <a href="{{ team.team_url }}">{{ team.name }}</a>
    </p>

  </body>
</html>
